blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 80%;
}

#external-links ul,li {
  display: inline-block;
  vertical-align: top;
  float: right;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

#body {
  max-width: 960px;
  text-align: center;
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  float: left;
}

#whole-thing {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

@media screen and (max-width: 500px) {
  body{
    background-color: hotpink
  }
}

@media screen and (max-width: 450px) {
  main h1{
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  #external-links-context li{
    font-size: 15px
    font-style: oblique;
  }
}

@media screen and (max-width: 400px) {
  #external-links h1{
    font-size: 10px;
  }
}