#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	padding: 1px;
	margin-top: 1px;
}

.lists {
	font-size: .8em;
}

h3:hover {
	color: pink;
}

section section {
	color: green;
}